@font-face {
    font-family: 'Valonik';
    src: url(fonts/ValonikPersonalUse-Thin.ttf);
}

@font-face {
    font-family: 'NeueMontreal';
    src: url(fonts/ppneuemontreal-medium.ttf);
}

.logo{
    display: flex;
    text-align: left;
    font-family: 'Valonik', sans-serif;
    font-size: 40px;
    color: white;
}

body{
    background-color: rgb(0, 0, 0);
    color: white;
}

.menu{
    display: flex;
    font-family: 'NeueMontreal';
    align-items: center;
}

ul{
    display: flex;
    gap: 50px;
    padding: 0;
}

ul li{
    display: flex;
    list-style: none;
    font-size: 14px;
}